@model MVCDemo.Models.Post

<h1>Edit Post</h1>

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>
        </div>
        
    </div>
    <div>
        <div class="col-md-6">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <div class="col-md-6 mt-2">
            <button type="submit" class="btn-info">Update</button>
        </div>
    </div>
    
</form>
